[commands]
update_cmd = <%= update_cmd %>
update_messages = <%= update_message %>
download_updates = yes
apply_updates = <%= apply_updates %>
random_sleep = 360

[emitters]
system_name = None
emit_via = stdio
ouput_width = 80

[email]
email_from = root@localhost
email_to = root
email_host = localhost

[groups]
group_list = None
group_package_types = mandatory, default

[base]
debuglevel = -2
mdpolicy = group:main

